.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titlename{
  color: #00B074 !important;
}
.title{
  font-size: calc(1.525rem + 3.3vw);
  color: black;
  /* color: #fff !important; */
}
.nav{
  text-decoration-line: none;
  list-style-type: none;
}
.navlist{
  text-decoration: none;
  color: black;
}
.box{
  background: rgba(43, 57, 64, .5);
}
.body{
  background-image: url(./Img1);
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.aboutpage{
  background-image: url(./Img1);
  height: 400px;
  background-size: cover;
  background-position: center;
}
.homepagetitle{
  font-size: 50px;
  font-weight: bolder;
}
.shadow{
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}
.helpjob {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  height: 500px;
}
.about2{
  margin-top: 70px;
}
.Helptitle{
  font-size: 45px;
  font-weight: bold;
}
.button{
  background-color: #00B074;
  border: #00B074;
}
.contactbox{
  background-color: #EFFDF5 !important;
}
